@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Medium'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-RegularItalic'),
    url('../fonts/Roboto-RegularItalic.woff') format('woff'),
    url('../fonts/Roboto-RegularItalic.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('..fonts/Roboto-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-LightItalic'),
    url('../fonts/Roboto-LightItalic.woff') format('woff'),
    url('../fonts/Roboto-LightItalic.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}